.main-width {
    width: 300px; !important;
}

.margin-20 {
    margin: 20px; !important;
}

.margin-10 {
    margin: 10px; !important;
}

.margin-5 {
    margin: 5px; !important;
}

.no-decoration {
    text-decoration: none; !important;
    color: black;
}
